<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <title>Math Server</title>
</head>
<body>
<h1 align="center">Python Flask Calculator</h1>
<div align="center">
    <form method="post" action="{{ url_for('calculation') }}" id="calculator_form">
        <label for="Num1">Input1:</label>
        <input type="text" name="Num1" id="Num1">
        <br/>
        <br/>
        <label for="Num2">Input2:</label>
        <input type="text" name="Num2" id="Num2">
        <br/>
        <br/>
        <label for="operation">Operation</label>
        <select id="operation" name="operation">
            <option value="+">Addition</option>
            <option value="/">Division</option>
            <option value="*">Multiplication</option>
        </select>
        <br/>
        <br/>
        <input type="submit" value="Submit"/>
<!--        <input type="reset"  value="RESET" style="color: red;"/>-->
    </form>
    </div>
<div align="center">
    {% if calculation_success == True %}
        <br/>
        <h4>The calculation for {{input1}} {{operation}} {{input2}} is: {{result}}</h4>
    {% endif %}
    {% if calculation_success == False %}
        <br/>
        <h4>{{error}}</h4>
        <h4>{{input1}} {{operation}} {{input2}} = "{{result}}"</h4>
    {% endif %}
</div>
</body>
</html>